

/*---------------------------------*/
#gestion-content-cuenta{
    color: aliceblue;
    width: 100%;
    background-color:#111E15;
}
h6{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gestion-info-cuenta{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#gestion-content-title h5{
    padding: 20px;
    font-size: 34px;
    font-style: bold;
    margin-bottom: 10px;
}
.gestion-info p strong{
    font-size: 20px;
}
.gestion-info p{
    margin-bottom: 10px;
    font-size: 16px;
}
.gestion-transacciones  h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
canvas{
   width: 45em;
    max-height: 960px   ;
}
.gestion-table-content{
    padding: 20px;
}

mat-table{
    background-color: red;
}
#gestion-cuenta-contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.658);
    flex-wrap: wrap;
}
.gestion-KPIS{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
.KPIS-carta{
    height: fit-content;
    width: fit-content;
    background-color: rgba(8, 161, 8, 0.247);
    padding: 10px;
    border-radius: 10px;
}
.gestion-grafica-costos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.gestion-distribucion-costos{
    width: fit-content;
    margin: 0 auto;
}
@media (max-width: 640px){
    canvas{
        width: 480px;
    }
}
@media (max-width: 440px){
    canvas{
        width: 220px;
    }
}