

/*---------------------------------*/
#gestion-content-cuenta{
    color: aliceblue;
    width: 100%;
    background-color:#111E15;
}
h6{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gestion-info-cuenta{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#gestion-content-title h5{
    padding: 20px;
    font-size: 34px;
    font-style: bold;
    margin-bottom: 10px;
}
.gestion-info p strong{
    font-size: 20px;
}
.gestion-info p{
    margin-bottom: 10px;
    font-size: 16px;
}
.gestion-transacciones  h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
canvas{
    max-width: 43em;
    max-height: 960px;
}
.graficasRadar-content {
    width: 50%;
     min-height: 340px;
    min-width: 480px;
}
.graficasRadar-line{
    width: 50%;
     min-height: 340px;
    min-width: 480px;
}
.gestion-table-content{
    padding: 20px;
}

mat-table{
    background-color: red;
}
#gestion-cuenta-contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.658);
    flex-wrap: wrap;
    box-shadow: 0px -9px 19px 0px black;
}
.gestion-KPIS{
    width: 100%;
    display: flex;
    gap: 10px;  
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
}
.KPIS-carta{
    height: fit-content;
    width: fit-content;
    background-color: rgba(8, 161, 8, 0.247);
    padding: 10px;
    border-radius: 10px;
}
.gestion-grafica-costos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.gestion-distribucion-costos{
    width:  100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#graficaRadar{

}
#gestion-form-transaccion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.gestion-modal-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(24, 206, 24);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.gestion-modal-button:hover{
    transform: translateY(-10px
    );
}

/*--------MODAL----------*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
  transition: 0.3s;
}


.modal.show {
  display: block;
}


.modal-content {
  background-color: #acddb3;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  animation: slideDown 0.3s ease-out;
}


@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.close {
  color: #000a02;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
.gestion-form{
    width: 90%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#modal-title{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
.form-content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form-content label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
input, select{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left:15px ;
    border: 4px solid rgb(2, 68, 2);
    border-radius: 10px;
    background-color: #262b2852;
}

input:hover, select:hover{
    border: 4px solid rgb(9, 190, 9);
}
#formulario-transaccion{
    width: 100%;
    padding: 20px;
}
.form-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
#btn-ej5{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    width: 240px;
    border: none;
    border-radius: 10px;
    background-color: #08b81f;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
#btn-ej5:hover{
    transform: translateY(-10px);
    border: 1px solid;
}
.kpi-card-title{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}
p span, li span, small span{
    font-weight: bold;
    color: #08b81f;
}
.kpi-advanced-adivce p{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.kpi-advanced-adivce  small{
    text-align: center;
}
.kpi-content{
    font-size: 16px;
    margin-bottom: 10px;
}
.kpi-warning-content{
    position: relative;
    padding: 20px;
}
.kpi-data{
    margin-top: 10px;
}
.space-p{
    margin-bottom: 10px;
}
.icon-warnig, .icon-warnig-dias{
    position: absolute;
    border-radius: 9000px;
    background-color: rgba(241, 10, 10, 0.315);
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    z-index: 900;
    left: 87%;
    bottom: 20%;
}
.icon-warnig-dias{
    bottom: 55%;
    left: 89%
}
.bien{
    background-color: rgba(10, 81, 233, 0.582);
    border: 2px solid rgb(10, 6, 228);
    left: 80%;
    bottom: 20%;
}
@media (max-width: 640px){
    canvas{
        width: 480px;
    }
}
@media (max-width: 440px){
    canvas{
        width: 220px;
    }
}