

/*---------------------------------*/
#gestion-content-cuenta{
    color: aliceblue;
    width: 100%;
}
h6{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gestion-info-cuenta{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#gestion-content-title h5{
    padding: 20px;
    font-size: 34px;
    font-style: bold;
    margin-bottom: 10px;
}
.gestion-info p strong{
    font-size: 20px;
}
.gestion-info p{
    margin-bottom: 10px;
    font-size: 16px;
}
.gestion-transacciones  h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
canvas{
   width: 45em;
    max-height: 960px   ;
}
.gestion-table-content{
    padding: 20px;
}

mat-table{
    background-color: red;
}
#gestion-cuenta-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.658);
    flex-wrap: wrap;
}
@media (max-width: 640px){
    canvas{
        width: 480px;
    }
}
@media (max-width: 440px){
    canvas{
        width: 1px;
    }
}