#contenedor{
    width: 100%;
}

.contenuwu{
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
#anuncio-content{
    width: 100%;
    max-height: 20%;
    padding: 40px;
    text-align: center;
    color: aliceblue;
}
@media (max-width:820px){
    #contenedor{
        flex-wrap: wrap;
        height:fit-content;
    }
    .contenuwu{
        max-height: none;
    }
}