/* You can add global styles to this file, and also import other style files */
/* Vaina Global en Angular */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Manrope";
}
app-navbar {
  display: block;
  height: 100%;
}
body, html{
    width: 100%;
    height: 100%;
     background-color: #011a04 !important;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
scroll-behavior: smooth;
}
img{
    width: 100%;
}
div, section{
    position: relative;
}
li{
    list-style: none;

}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.1; /* o usa un valor relativo como 120% */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
